@model MVC.Models.mvcZaposleni


@{
    ViewBag.Title = "Details";
}
@if (((Session["LogedUserLevel"].ToString() == "Head" && Session["LogedUserId"].ToString() == Html.DisplayFor(model => model.nadredjen).ToString() && Html.ValueFor(model => model.status).ToString() != "False") || (Session["LogedUserLevel"].ToString() == "Administrator")))
{

    <h2>Employee details</h2>

    <div>

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.password)
                </dt>*@

            @*<dd>
                    @Html.DisplayFor(model => model.password)
                </dd>*@

            <dt>
                Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.level)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                Head Id
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nadredjen)
            </dd>

            <dt>
                Head Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NadIme)
            </dd>

        </dl>
    </div>
    <h2>Projects</h2>
    <div id="divProjekti"></div>
    <h2>Activities</h2>
    <div id="divAktivnosti"></div>
}
else
{

    <br /><br /><br />

    <div class="alert alert-warning">You don't have privileges to see employee if You are not Head of it or if status is  false-inactive.
        Actually You can see only employees where You are Head and status is True-or Active.
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#loginLink')
                .html(
                    '<a href="../Home/AfterLogin">@Session["LogedUserUsername"].ToString()</a><a href="../Home/AfterLogin">Logout</a>');

            getActivities();

            function getActivities() {


                $.ajax({
                    method: "GET",
                    url: "http://localhost:59862/api/activities?ajde=true&idradnika=" +  @Html.DisplayFor(model => model.id),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        var aktivnosti = $('#divAktivnosti');

                        var aktRezultat = '';
                        aktivnosti.html('');

                        var i = 0;

                        $.each(data,
                            function(key, entry) {
                                i += 1;
                                aktRezultat+=
                                    '<tr><td>'+entry.id+'</td>'+
                                    '<td>' + entry.Naslov + '</td>' +
                                    '<td>' + entry.opis + '</td>' +
                                    '<td>' + entry.start + '</td>' +
                                    '<td>' + entry.startRadnik + '</td>' +
                                    '<td>' + entry.end + '</td>' +
                                '<td><a href="../../Aktivnosti/Details/' + entry.id + '">' + 'Details' + '</a> | <a href="../../Aktivnosti/Edit/' + entry.id + '">' + 'Edit' + '</a> </td>' +
                                    '</tr>';

                            });

                        if (i == 0) {
                            aktivnosti.append("No activities worked on it as employee in past");
                        } else {
                        aktivnosti.append('<table class="table table-striped"><thead class="table-bordered"><tr><th>Id</th><th>Title</th><th>Description</th><th>start</th><th>Emp. started</th><th>end</th><th>Actions</th></tr></thead><tbody class="table-hover">' + aktRezultat + '</tbody></table>');
                        }
                    },
                    error: function(jqXhr) {

                        alert(jqXhr.responseText);
                    }
                });

            };


            //**************************************Projekti
            getProjects();

            function getProjects() {


                $.ajax({
                    method: "GET",
                    url: "http://localhost:59862/api/project?idNadredjenog=" +  @Html.DisplayFor(model => model.id),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        var projekti = $('#divProjekti');

                        var projRezultat = '';
                        projekti.html('');

                        var i = 0;

                        $.each(data,
                            function(key, entry) {
                                i += 1;
                                projRezultat+=
                                    '<tr><td>'+entry.id+'</td>'+
                                    '<td>' + entry.nazivProjekta + '</td>' +
                                    '<td>' + entry.Opis + '</td>' +
                                    '<td>' + entry.status + '</td>' +
                                    '<td><a href="../../Projekti/Details/' + entry.id + '">' + 'Details' + '</a> | <a href="../../Projekti/Edit/' + entry.id + '">' + 'Edit' + '</a> </td>' +
                                    '</tr>';

                            });
                        if (i == 0) {
                            projekti.append("No project worked on it as Head in past");
                        } else {
                        projekti.append('<table class="table table-striped"><thead class="table-bordered"><tr><th>Id</th><th>Title</th><th>Description</th><th>status</th><th>Actions</th></tr></thead><tbody class="table-hover">' + projRezultat + '</tbody></table>');
                        }
                    },
                    error: function(jqXhr) {

                        alert(jqXhr.responseText);
                    }
                });

            };
            //***********************************************

        });


    </script>

}
