@model IEnumerable<MVC.Models.mvcProjekti>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h2>Projects</h2>

<p>

    <a href="@Url.Action("AddOrEdit","Projekti")" class="btn btn-primary"><i class="fa fa-plus"></i>Create new</a>
</p>
<table class="table">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Description
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            HeadId
        </th>
        <th>
            Head name
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model) {
        if ((Html.DisplayFor(modelItem => item.idNadredjenog).ToString() == Session["LogedUserId"].ToString() && Html.ValueFor(modelItem => item.status).ToString() != "False") || Session["LogedUserLevel"].ToString() == "Administrator")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nazivProjekta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idNadredjenog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NadIme)
                </td>
                <td>
                    @Html.ActionLink("Edit", "AddOrEdit", new {id = item.id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.id})
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.id })*@
                </td>
            </tr>
        }
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function() {


            $('#loginLink')
                .html(
                    '<a href="../Home/AfterLogin">@Session["LogedUserUsername"].ToString()</a><a href="../Home/AfterLogin">Logout</a>');

        
    });
        </script>
}